<a href="https://colab.research.google.com/github/namanjain0531/FlipRobotech/blob/master/Assignment_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [3]:
train= pd.read_csv(r"/content/drive/My Drive/Hotel/train.csv")

In [4]:
test= pd.read_csv(r"/content/drive/My Drive/Hotel/test.csv")

In [5]:
train

       User_ID  ... Is_Response
0      id10326  ...   not happy
1      id10327  ...   not happy
2      id10328  ...   not happy
3      id10329  ...       happy
4      id10330  ...   not happy
...        ...  ...         ...
38927  id49253  ...       happy
38928  id49254  ...   not happy
38929  id49255  ...   not happy
38930  id49256  ...   not happy
38931  id49257  ...       happy

[38932 rows x 5 columns]

In [6]:
test

        User_ID  ... Device_Used
0       id80132  ...      Mobile
1       id80133  ...     Desktop
2       id80134  ...      Tablet
3       id80135  ...      Mobile
4       id80136  ...      Mobile
...         ...  ...         ...
29399  id109531  ...      Mobile
29400  id109532  ...      Tablet
29401  id109533  ...     Desktop
29402  id109534  ...     Desktop
29403  id109535  ...      Mobile

[29404 rows x 4 columns]

In [7]:
nltk.download('stopwords')
corpus = []
for i in range(0, 38932):
    review = re.sub('[^a-zA-Z]'," ", train['Description'][i])
    review = review.lower()
    review = review.split()
    ps = PorterStemmer()
    review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]
    review = ' '.join(review)
    corpus.append(review)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [8]:
cv = CountVectorizer(max_features = 3500)
X = cv.fit_transform(corpus).toarray()
y = train.iloc[:, 4].values

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 4)

In [18]:
X_train.shape

(29199, 3500)

In [19]:
X_test.shape

(9733, 3500)

In [20]:
y_train.shape

(29199,)

In [21]:
y_test.shape

(9733,)

In [22]:
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [23]:
y_pred_NB = classifier.predict(X_test)
y_pred_NB

array(['not happy', 'happy', 'not happy', ..., 'happy', 'happy', 'happy'],
      dtype='<U9')

In [24]:
from sklearn.naive_bayes import GaussianNB
import sklearn.metrics as metrics
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report, confusion_matrix
gnb=GaussianNB()
gnb.fit(X_train,y_train)

predgnb=gnb.predict(X_test)
print(accuracy_score(y_test,predgnb)*100)
print(confusion_matrix(y_test,predgnb))
print(classification_report(y_test,predgnb))

79.32805918010891
[[5705  875]
 [1137 2016]]
              precision    recall  f1-score   support

       happy       0.83      0.87      0.85      6580
   not happy       0.70      0.64      0.67      3153

    accuracy                           0.79      9733
   macro avg       0.77      0.75      0.76      9733
weighted avg       0.79      0.79      0.79      9733